body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/*COSILLAS PARA EL TÍTULO Y EL MENÚ DE LA CABECERA*/
header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.page-title {
    margin: 0;
    font-size: 2em;
}

/* Estilos para el menú de navegación */
.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ddd;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#room-introduction {
    width: 100%;
    max-width: 800px; /* Adjust this value based on your design preference */
    margin: 20px auto; /* Esto centrará la sección horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centrará los elementos hijos horizontalmente */
    justify-content: center; 
}

#assign-rooms, #daily-routines {
    width: 100%;
    max-width: 800px; /* Adjust this value based on your design preference */
}

#finish-rooms {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual anchura */
    gap: 10px; /* Espacio entre las columnas */
    width: 70%;
    max-width: 500px; /* Asegúrate de que esto concuerde con el ancho de tus secciones */
    margin-top: 20px; /* Espacio por encima del grid para separar de otros elementos */
}

#table-rooms, #results {
    width: 100%;
    overflow-x: auto; /* For small devices */
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        margin-top: 5px;
    }

    .nav-menu li {
        margin: 5px 0;
    }
    #assign-rooms, #daily-routines {
        width: 95%;
    }

    #weekly-routines {
        flex-direction: column;
    }

    #explain-parameters-weekly, #weekly-parameters {
        max-width: none;
        margin-right: 0;
        padding: 10px;
    }
}

/*COSILLAS GENERALES Y PARA LA PRIMERA SECCIÓN*/

/* Further styling for select, buttons, etc. */
select, button, input[type=range] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#daily-routines {
    width: 100%; /* O un ancho fijo si prefieres un ancho específico */
    max-width: 800px; /* Ajusta este valor según tus preferencias de diseño */
    margin: 20px auto; /* Esto centrará la sección horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centrará los elementos hijos horizontalmente */
    justify-content: center; /* Esto centrará los elementos hijos verticalmente si la altura es definida */
}

.routine-assignment {
    width: 100%; /* O un porcentaje específico para un ancho relativo */
    max-width: 600px; /* Ajusta este valor para que coincida con el diseño deseado */
    margin: auto; /* Centra horizontalmente dentro de #daily-routines */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

/* Asegurándose de que los elementos dentro de .routine-assignment también estén centrados si es necesario */
.routine-assignment > * {
    margin-left: auto;
    margin-right: auto;
}

  
  .routine-assignment h2 {
    margin-bottom: 10px;
  }
  
  .routine-assignment p {
    margin-bottom: 20px;
  }
  
  .time-inputs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .time-inputs label {
    margin-right: 10px;
  }
  
  .time-inputs input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .room-selection select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .buttons-daily button {
    padding: 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
  }
  
  .buttons-daily button:hover {
    background-color: #0056b3;
  }


  
/* 
/* Button specific styles */
button {
    background-color: #007bff;
    color: white;
    border: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Styles for the table created by Plotly.js */
.plotly-graph-div {
    margin-bottom: 20px;
}

/*COSILLAS GENERALES SECCIÓN WEEKLY*/

/* #weekly-routines { */
    /* display: flex; Esto permite que los hijos se alineen horizontalmente */
    /* flex-wrap: wrap; Esto permite que los elementos se envuelvan si no hay espacio suficiente */
    /* justify-content: space-between; Esto separará los dos bloques a cada lado */
    /* align-items: flex-start; Esto alinea los elementos al inicio de la sección */
    /* max-width: 800px; */
    /* margin: 20px auto; */
    /* padding: 20px; */
    /* flex-direction: column; */
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
/* } */



/* #routine-assignment-weekly { */
    /* width: 100%; Establece el ancho al 80% del contenedor padre */
    /* margin: auto; Centra el div en el contenedor */
    /* display: flex; Habilita flexbox para los hijos directos */
    /* flex-direction: row; Alinea los elementos hijos en fila */
    /* justify-content: space-between; Separa los elementos hijos */
    /* align-items: flex-start; Alinea los elementos hijos al comienzo de su contenedor */
    /* padding: 20px; */
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
/* } */


/* #explain-parameters-weekly, #weekly-parameters { */
    /* width: calc(50% - 40px); Cada div hijo ocupará la mitad del ancho del contenedor padre */
    /* margin: auto; */
/* } */

/* Asegúrate de que los elementos internos de #weekly-parameters no estén demasiado apretados */
/* #weekly-parameters select,  */
/* #weekly-parameters input, */
/* #weekly-parameters label { */
    /* margin-bottom: 10px; Añade un margen inferior para evitar que los elementos estén demasiado juntos */
/* } */

/* #explain-parameters-weekly { */
    /* flex: 1; Esto permite que el bloque tome el espacio necesario */
    /* max-width: 500px; Ajusta el ancho máximo según tu preferencia */
    /* margin-right: 20px; Agrega un margen derecho para separar de los parámetros */
    /* padding: 20px; */
    /* text-align: left; */
    /* border-right: 2px solid #ddd; Agrega una línea divisoria */
/* } */

/* #weekly-parameters { */
   /* flex: 1; Esto permite que el bloque tome el espacio necesario */
   /* max-width: 500px; Ajusta el ancho máximo según tu preferencia */
   /* padding: 20px; */
   /* display: flex; Para alinear verticalmente los inputs y selects */
   /* flex-direction: column; */
/* } */

/* Ajustes para que la selección y entrada de tiempo se alinee correctamente */
/* #routine-assignment-weekly .time-inputs { */
    /* display: flex; */
    /* flex-direction: column;  */
/* } */

/* Asegúrate de que los labels estén alineados con sus respectivos inputs */
/* #routine-assignment-weekly .time-inputs label { */
    /* margin-bottom: 5px; */
/* } */

/* Estilos adicionales para responsividad */


/*SECCIÓN CALENDARIO*/
.schedule-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.defined-days, .calendar-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/*COSA RARA (A VER QUE TAL)*/
#calendar-container{
    text-align: center;
    width: 20px;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
}