html{
    scroll-behavior: smooth;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

/*COSILLAS PARA EL TÍTULO Y EL MENÚ DE LA CABECERA*/
header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.page-title {
    margin: 0;
    font-size: 2em;
}

/* Estilos para el menú de navegación */
.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ddd;
    background: #062d57;
}


/*ESTILO VIDEO*/

#video-box {
  grid-area:videodemo;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  max-height: 560px;
  min-height: 420px;
  padding: 20px;
}

#video-box h1 {
  margin-bottom: 0px
}

#intro-video {
  margin-top: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 100px;
  height: 100vh;
}

#intro-video:hover {
  transform: scale(1.5);
}
/* Ajuste del contenedor principal para incluir el video y las cajas */
#intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  padding: 20px;
  width: 70%;
  margin-top: 20px; /* Ajusta según sea necesario para el espacio del encabezado */
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para el video que estará en la parte superior */
#video-box {
  width: 50%; /* Establece el ancho del video al ancho del contenedor */
  /* No se necesita la propiedad grid-area aquí */
}

/* Estilo para el contenedor de las cajas */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-template-rows: repeat(2, 1fr); /* Dos filas */
  gap: 20px; /* Espacio entre las cajas */
  align-content: start; /* Alinea las cajas al inicio del contenedor */
}
  
.box {
    background-color: #147ff2;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width: 100%; /* Ocupa el 100% del ancho de su celda en el grid */
    height: auto; /* Ocupa el 100% del alto de su celda en el grid */
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); /* Añade una sombra */
}

  .box:hover{
    background-color: #062d57;
  }

  .content p {
    margin: 20px;
    padding: 20px;
    text-align: justify;
  }

  img {
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 40px;
  }


  /*ESTILOS PIE DE PÁGINA*/
  footer {
    margin-top: 200px; 
    width: 100%;
    background: #007bff;
    padding: 20px 0;
    position: relative; /* Si quieres que el footer siempre esté en la parte inferior, usa 'absolute' y añade 'bottom: 0;' */
    text-align: center;
  }
