:root {
    --prefered_background_color: #f0f0f0;
    --prefered_secondary_background_color: #ffffff;
    --prefered_text_color: #000;
    --select_border_color: #aeaeae;
    --select_background_color: #fffefe;
    --prefered_fill_plot: #f0f0f0;
}

@media(prefers-color-scheme: dark){
    :root {
        --prefered_text_color: #fff;
        --prefered_background_color: #0f0f0f;
        --prefered_secondary_background_color: #3d3d3d;
        --select_border_color: #c9c9c9;
        --select_background_color: #4a4949;
        --prefered_fill_plot: #1A1A1A;
    }
}

html{
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--prefered_background_color);
    color: var(--prefered_text_color);
}

/*COSILLAS PARA EL TÍTULO Y EL MENÚ DE LA CABECERA*/
header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* Add this line */
  }

.page-title {
    margin: 0;
    font-size: 2em;
}

/* Estilos para el menú de navegación */
.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ddd;
    background: #062d57;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: var(--prefered_fill_plot);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

#room-introduction {
    width: 100%;
    max-width: 1200px; /* Adjust this value based on your design preference */
    margin: 20px auto; /* Esto centrará la sección horizontalmente */
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centrará los elementos hijos horizontalmente */
    justify-content: center; 
}

.dragable{
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*DRAGABLE STYLES*/
#drag-area {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust the height as needed */
    border: 2px dashed #ccc;
    background-color: var(--prefered_secondary_background_color);
    color: #999;
    font-size: 18px;
  }
  
  /* Estilos para cuando el ratón está encima */
  #drag-area:hover {
    background-color: #f0f0f0;
    border-color: #333;
  }
  /* Estilos para cuando un fichero está siendo arrastrado encima */
  #drag-area.dragover {
    background-color: #e8f4ff;
    border-color: #007bff;
    border-style: solid;
    height: 230px; /* Aumentamos el tamaño */
  }

/* Responsive Design */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        margin-top: 5px;
    }

    .nav-menu li {
        margin: 5px 0;
    }
    #assign-rooms, #daily-routines {
        width: 95%;
    }

    #weekly-routines {
        flex-direction: column;
    }

    #explain-parameters-weekly, #weekly-parameters {
        max-width: none;
        margin-right: 0;
        padding: 10px;
    }
}

/*COSILLAS GENERALES Y PARA LA PRIMERA SECCIÓN*/

/* Further styling for select, buttons, etc. */
select, button, input[type=range] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#daily-routines {
    width: 100%; /* O un ancho fijo si prefieres un ancho específico */
    max-width: 800px; /* Ajusta este valor según tus preferencias de diseño */
    margin: 20px auto; /* Esto centrará la sección horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centrará los elementos hijos horizontalmente */
    justify-content: center; /* Esto centrará los elementos hijos verticalmente si la altura es definida */
}

.routine-assignment {
    width: 100%; /* O un porcentaje específico para un ancho relativo */
    max-width: 600px; /* Ajusta este valor para que coincida con el diseño deseado */
    margin: auto; /* Centra horizontalmente dentro de #daily-routines */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: var(--prefered_secondary_background_color);
    border-radius: 8px;
    text-align: justify;
    border: 1px solid #ddd;
}

/* Asegurándose de que los elementos dentro de .routine-assignment también estén centrados si es necesario */
.routine-assignment > * {
    margin-left: auto;
    margin-right: auto;
}
  
.routine-assignment h2 {
    margin-bottom: 10px;
    text-align: center;
}
  
.routine-assignment p {
    margin-bottom: 20px;
}
  
.time-inputs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
  
.time-inputs label {
    margin-right: 10px;
}
  
.time-inputs input {
    padding: 10px;
    border: 2px solid var(--select_border_color);
    border-radius: 5px;
    background-color: var(--select_background_color);
    color: var(--prefered_text_color);
}
  
.room-selection select {
    padding: 10px;
    border: 2px solid var(--select_border_color);
    border-radius: 5px;
    background-color: var(--select_background_color);
    color: var(--prefered_text_color);
}

.buttons-daily button {
    padding: 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
}
  
.buttons-daily button:hover {
    background-color: #0056b3;
}
  
/* Button specific styles */
button {
    background-color: #007bff;
    color: white;
    border: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

tr th {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: var(--prefered_background_color);
}

tr {
    text-align: center;
}

/*SECCIÓN CALENDARIO*/
#schedule-routines{
    width: 100%;
    max-width: 1700px; /* Ajusta este valor según tus preferencias de diseño */
    margin: 20px auto; /* Esto centrará la sección horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centrará los elementos hijos horizontalmente */
    justify-content: center; /* Esto centrará los elementos hijos verticalmente si la altura es definida */
}

.schedule-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#defined-days{
    width: 40%;
    padding: 10px;
    gap: 10px;
    margin: 10px;
    background-color: var(--prefered_secondary_background_color);
}

.dragable-day{
    color: white;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.dragable-day:hover{
    background-color: #053a73;
}

#calendar-dragable-area {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 40px;
}

#calendar-container {
    flex: 1;
    width: 60%;
    background-color: var(--prefered_secondary_background_color);
}

#params-calendar {
    flex: 1;
    flex-direction: column;
    grid-column: repeat(2, 1fr);
    margin-left: 10px;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
    background-color: var(--prefered_secondary_background_color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

.year-monthselect {
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.year-monthselect label,
.year-monthselect input {
    margin-bottom: 10px; /* Add space between the elements */
}

/* If you want to align the labels to the left of their inputs */
.year-monthselect label {
    align-self: flex-start;
}

.defined-days, .calendar-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/*COSA RARA (A VER QUE TAL)*/
#calendar-container{
    text-align: center;
    width: 20px;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
}

/*ESTILOS PIE DE PÁGINA*/
footer {
    margin-top: 100px;
    width: 100%;
    background: #007bff;
    padding: 20px 0;
    position: relative; /* Si quieres que el footer siempre esté en la parte inferior, usa 'absolute' y añade 'bottom: 0;' */
    text-align: center;
    bottom: 0; /* Espacio después de la última sección */
}