:root {
    --prefered_background_color: #f0f0f0;
    --prefered_secondary_background_color: #ffffff;
    --prefered_text_color: #000;
    --select_border_color: #4e4e4ea4;
    --select_background_color: #fffefe;
    --prefered_fill_plot: #f0f0f0;
}

@media(prefers-color-scheme: dark){
    :root {
        --prefered_text_color: #fff;
        --prefered_background_color: #0f0f0f;
        --prefered_secondary_background_color: #3d3d3d;
        --select_border_color: #dfdfdfce;
        --select_background_color: #4a4949;
        --prefered_fill_plot: #1A1A1A;
    }
}

html{
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--prefered_background_color);
    color: var(--prefered_text_color);
}

/*COSILLAS PARA EL TÍTULO Y EL MENÚ DE LA CABECERA*/
header {
    background-color: #007bff;
    color: white;
    padding: 2vh 0;
    text-align: center;
    box-shadow: 0 0.2rem 5px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1dvw;
    z-index: 1; /* Add this line */
  }

.page-title {
    margin: 0;
    font-size: 2dvw;
}

/* Estilos para el menú de navegación */
.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 1.5dvh;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 1dvh 1.5dvw;
    border-radius: 10px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ddd;
    background: #062d57;
}

#intro .page-description-div{
    padding: 15dvh 30dvw;
    padding-bottom: 1dvh;
    text-align: justify;
    font-size: 1dvw;
}

.dragable{
    padding-right: 3dvw;
    padding-left: 3dvw;
    padding-top: 1dvh;
    padding-bottom: 3dvh;
}

/* Container for dragables */
.dragables-container {
    display: flex; /* Use flexbox to arrange children side by side */
    /* justify-content: space-around;  */
    padding: 1dvh 15dvw; /* Adjust the margin as needed */
    padding-bottom: 3dvh;
}

/* Make each dragable take up equal space */
.dragable {
    flex: 1; /* Each dragable will grow equally */
    padding: 0 0.5dvw; /* Add some space between columns */
}

/* Override styles for individual drag areas if needed */
#dragable-dictionary .drag-area,
#dragable-daily-activities .drag-area,
#dragable-assigned-routines .drag-area {
    height: 17dvh; /* Make sure all drag areas have the same height */
    width: 20dvw; /* Make sure all drag areas have the same width */
}

.dragables-container h1{
    text-align: left;
    font-size: 1.2dvw;

}

/*DRAGABLE STYLES*/
.drag-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    background-color: var(--prefered_secondary_background_color);
    color: #999;
    font-size: 1dvw;
  }
  
  /* Estilos para cuando el ratón está encima */
  /*Lo puedes reutilizar en JavaScript con el método .classList*/
  .drag-area:hover {
    background-color: #f0f0f0;
    border-color: #333;
  }
  /* Estilos para cuando un fichero está siendo arrastrado encima */
  /*Lo puedes reutilizar en JavaScript con el método .classList*/
  .drag-area.dragover {
    background-color: #e8f4ff;
    border-color: #007bff;
    border-style: solid;
  }


  /*ESTILOS PARA LA SECCIÓN DE VISUALIZACIÓN DE DATOS*/
  #visualization-labelmap {
    background-color: var(--prefered_secondary_background_color);
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.visualization-labelmap h1 {
    color: var(--prefered_text_color);
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.visualization-labelmap p {
    color: var(--prefered_text_color); 
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.visualization-labelmap-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.visualization-labelmap-div-1,
.visualization-labelmap-div-2 {
    padding: 10px;
}

input[type="range"],
input[type="radio"] {
    cursor: pointer;
}

#drop-mornings-evenings{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
}

#input-time{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#input-time input{
    padding: 5px;
    text-align: center;
    border: 2px solid var(--select_border_color);
    border-radius: 5px;
    background-color: var(--select_background_color);
    color: var(--prefered_text_color);
    width: 50%;
}

#input-time input:focus{
    outline: none;
    border: 2px solid #007bff;
}



#input-time button{
    padding: 5px;
    border: 2px solid #142536;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 0px;
}

#input-time button:hover{
    background-color: #142536;
}

.sliders-times-container{
    display: flex;
    flex-direction: column;
}

.sliders-times-container .sliders-times{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: justify;
    margin-bottom: 20px;
}

.sliders-times-container .sliders-times .slider-component{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.sliders-times-container .sliders-times .slider-component input{
    flex-basis: 75%;
}

.sliders-times-container .sliders-times .slider-component output{
    flex-basis: 22%;
}

.sliders-times-container .sliders-times .slider-component input:hover{
    cursor: pointer;
}


.visualization-labelmap-div-1 {
    flex-basis: 60%;
}

.visualization-labelmap-div-2 {
    flex-basis: 40%;
}

#emptyrows-param{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.visualization-labelmap-div-1 h2,
.visualization-labelmap-div-2 h2 {
    color: var(--prefered_text_color);
    font-size: 18px;
    margin-bottom: 10px;
}

.visualization-labelmap-div-1 input[type="range"] {
    width: 70%;
}

.visualization-labelmap-div-1 p {
    color: var(--prefered_text_color);
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
}

#labelmap-div {
    width: 100%;
    height: 450px;
    background-color:var(--prefered_fill_plot);
    border: 2px solid var(--prefered_secondary_background_color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.buttons {
  padding: 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
}

.buttons:hover {
  background-color: #0056b3;
}

#labelmap{
  padding: 3dvh 30dvw;
}

#labelmap button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/*PIE DE PÁGINA*/
footer {
    width: 100%;
    background: #007bff;
    padding: 20px 0;
    position: relative; /* Si quieres que el footer siempre esté en la parte inferior, usa 'absolute' y añade 'bottom: 0;' */
    text-align: center;
    bottom: 0; /* Espacio después de la última sección */
  }
