html{
    scroll-behavior: smooth;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/*COSILLAS PARA EL TÍTULO Y EL MENÚ DE LA CABECERA*/
header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.page-title {
    margin: 0;
    font-size: 2em;
}

/* Estilos para el menú de navegación */
.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ddd;
    background: #062d57;
}




