:root {
    --prefered_background_color: #f0f0f0;
    --prefered_secondary_background_color: #ffffff;
    --prefered_text_color: #000;
    --select_border_color: #4e4e4ea4;
    --select_background_color: #fffefe;
}

@media(prefers-color-scheme: dark){
    :root {
        --prefered_text_color: #fff;
        --prefered_background_color: #0f0f0f;
        --prefered_secondary_background_color: #3d3d3d;
        --select_border_color: #dfdfdfce;
        --select_background_color: #4a4949;
    }
}

html{
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--prefered_background_color);
}


/*COSILLAS PARA EL TÍTULO Y EL MENÚ DE LA CABECERA*/
header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.page-title {
    margin: 0;
    font-size: 2em;
}

/* Estilos para el menú de navegación */
.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-menu li {
    margin: 0 15px;
}


.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #ddd;
    background: #062d57;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: var(--prefered_secondary_background_color);
    color: var(--prefered_text_color);
    margin-bottom: 200px;
}

#room-introduction {
    width: 100%;
    max-width: 800px; /* Adjust this value based on your design preference */
    margin: 20px auto; /* Esto centrará la sección horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centrará los elementos hijos horizontalmente */
    justify-content: center; 
}

#assign-rooms, #daily-routines {
    width: 100%;
    max-width: 800px; /* Adjust this value based on your design preference */
}

#finish-rooms {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual anchura */
    gap: 10px; /* Espacio entre las columnas */
    width: 70%;
    max-width: 500px; /* Asegúrate de que esto concuerde con el ancho de tus secciones */
    margin-top: 20px; /* Espacio por encima del grid para separar de otros elementos */
    margin-bottom: 20px; /* Espacio por debajo del grid para separar de otros elementos */
}

#table-rooms, #results {
    width: 100%;
    overflow-x: auto; /* For small devices */
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        margin-top: 5px;
    }

    .nav-menu li {
        margin: 5px 0;
    }  
}

/*COSILLAS GENERALES Y PARA LA PRIMERA SECCIÓN*/

/* Further styling for select, buttons, etc. */
select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid var(--select_border_color);
    background-color: var(--select_background_color);
    color: var(--prefered_text_color);
}

/* Button specific styles */
button {
    background-color: #007bff;
    color: white;
    border: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


/*ESTILOS PIE DE PÁGINA*/
footer {
    margin-top: 100px;
    width: 100%;
    background: #007bff;
    padding: 20px 0;
    position: absolute; /* Si quieres que el footer siempre esté en la parte inferior, usa 'absolute' y añade 'bottom: 0;' */
    text-align: center;
    bottom: 0; /* Espacio después de la última sección */
  }